$perOffsetForm: 3%;
$perWidthContent: 90%;
@mixin margin {
  margin-left: auto;
  margin-right: auto;
}
.card {
  position: absolute;
  z-index: 10;
  @include margin;
  padding: 30px;
  top: $perOffsetForm;
  right: $perOffsetForm;
}

table {
  text-align: center;
}

label {
  @include margin;
}

small {
  @include margin;
}

button {
  width: $perWidthContent;
  @include margin;
}

.btn-group {
  width: $perWidthContent;
  @include margin;
}

.form-group {
  width: $perWidthContent;
  @include margin;
}

input {
  width: 100%;
  margin-top: 1px;
  @include margin;
}

.submit {
  margin-top: 5px;
  @include margin;
  width: $perWidthContent;
}